<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger text-center">Shopping Cart</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, minima. Nulla error nam aut consectetur enim obcaecati, a culpa in officiis suscipit incidunt nihil pariatur non fugiat exercitationem odio eos!</p>
            </div>
        </div>
    </div>
</section>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover text-center table-striped">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>sno</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.sno }}</td>
                            <td><img [src]="product.image" alt="product image" width="70" height="70"></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price |currency: 'EUR' }}</td>
                            <td>
                                <i (click)="decrQty(product.sno)" class="fa fa-minus-square"></i>
                                {{ product.qty }}
                                <i (click)="incrQty(product.sno)"  class="fa fa-plus-square"></i>
                            </td>
                            <td>{{ product.qty * product.price |currency: 'EUR' }}</td>
                        </tr> 
                        <tr>
                            <td colspan="4"></td>
                            <td>Grand Total</td>
                            <td>{{ calcGrandTotal() |currency: 'EUR' }}</td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
