<section class="mt-3"> 
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/image/photo1.jpeg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Paris</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste alias,
                            distinctio, atque inventore perferendis culpa voluptatum 
                            error veritatis maxime consequatur sequi voluptate? 
                            Recusandae eaque beatae cumque numquam. Quisquam, odio!
                            </p>
                            <button class="btn btn-danger btn-sm">Book Now</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/image/photo2.jpeg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Lagos</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste alias,
                            distinctio, atque inventore perferendis culpa voluptatum 
                            error veritatis maxime consequatur sequi voluptate? 
                            Recusandae eaque beatae cumque numquam. Quisquam, odio!
                            </p>
                            <button class="btn btn-danger btn-sm">Book Now</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/image/photo3.jpeg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">London</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste alias,
                            distinctio, atque inventore perferendis culpa voluptatum 
                            error veritatis maxime consequatur sequi voluptate? 
                            Recusandae eaque beatae cumque numquam. Quisquam, odio!
                            </p>
                            <button class="btn btn-danger btn-sm">Book Now</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/image/photo4.jpeg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Texas</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste alias,
                            distinctio, atque inventore perferendis culpa voluptatum 
                            error veritatis maxime consequatur sequi voluptate? 
                            Recusandae eaque beatae cumque numquam. Quisquam, odio!
                            </p>
                            <button class="btn btn-danger btn-sm">Book Now</button>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
