<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img [src]="image" alt="Paris">
                    <div class="card-body"> 
                        <p class="h3"> {{ Name}}</p>  
                        <p>{{ getDate() }}</p> 
                        <p>{{ getTime() }}</p>   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="imageName" alt="Lagos">
                    <div class="card-body"> 
                        <p class="h3"> {{ Name2 }}</p>  
                        <p>{{ getDate() }}</p> 
                        <p>{{ getTime() }}</p>   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="london" alt="Paris">
                    <div class="card-body"> 
                        <p class="h3"> {{ Name3 }}</p>  
                        <p>{{ getDate() }}</p> 
                        <p>{{ getTime() }}</p>   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="Lyon" alt="Paris">
                    <div class="card-body"> 
                        <p class="h3"> {{ Name4 }}</p>  
                        <p>{{ getDate() }}</p> 
                        <p>{{ getTime() }}</p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
