<nav class="navbar navbar-dark bg-danger">
  <a href="" class="navbar-brand">Angular with bootstrap</a>
  <a href="" class="navbar-brand">Home</a>
  <a href="" class="navbar-brand">Training</a>
  <a href="" class="navbar-brand">Learning</a>
  <a href="" class="navbar-brand">Coding</a>
</nav>

<app-card></app-card>
<app-box></app-box>
<app-product-items></app-product-items>
<app-shopping-cart></app-shopping-cart>

<div class="social-media text-center mt-5">
  <i class="fa-brands fa-facebook text-primary fa-3x"></i>
  <i class="fa-brands fa-youtube text-danger fa-3x"></i>
  <i class="fa-brands fa-twitter  text-primary fa-3x"></i>
  <i class="fa-brands fa-instagram text-danger fa-3x"></i>
</div>